<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon class="tab-icon-outline" name="home-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="home-outline"></ion-icon>
      <ion-label>{{ 'tabs.home' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/check-in/mood" (click)="openCheckIn($event)">
      <ion-icon class="tab-icon-outline" name="happy-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="happy-outline"></ion-icon>
      <ion-label>{{ 'tabs.checkIn' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon class="tab-icon-outline" name="map-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="map"></ion-icon>
      <ion-label>{{ 'tabs.history' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tools" href="/tabs/tools">
      <ion-icon class="tab-icon-outline" name="sparkles-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="sparkles-outline"></ion-icon>
      <ion-label>{{ 'tabs.tools' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon class="tab-icon-outline" name="person-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="person-outline"></ion-icon>
      <ion-label>{{ 'tabs.profile' | t }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
