<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>{{ 'tabs.home' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ 'tabs.history' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insights" href="/tabs/insights">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>{{ 'tabs.insights' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tools" href="/tabs/tools">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>{{ 'tabs.tools' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>{{ 'tabs.profile' | t }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
