<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon class="tab-icon-outline" name="home-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="home-outline"></ion-icon>
      <ion-label>{{ 'tabs.home' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon class="tab-icon-outline" name="calendar-clear-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="calendar-clear-outline"></ion-icon>
      <ion-label>{{ 'tabs.history' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insights" href="/tabs/insights">
      <ion-icon class="tab-icon-outline" name="pulse-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="pulse-outline"></ion-icon>
      <ion-label>{{ 'tabs.insights' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tools" href="/tabs/tools">
      <ion-icon class="tab-icon-outline" name="options-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="options-outline"></ion-icon>
      <ion-label>{{ 'tabs.tools' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon class="tab-icon-outline" name="person-outline"></ion-icon>
      <ion-icon class="tab-icon-filled" name="person-outline"></ion-icon>
      <ion-label>{{ 'tabs.profile' | t }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
