:root {
  --ion-color-primary: #4d8d7c;
  --ion-color-primary-rgb: 77, 141, 124;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #447c6d;
  --ion-color-primary-tint: #5f9889;

  --ion-color-secondary: #7b8fd6;
  --ion-color-secondary-rgb: 123, 143, 214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6c7ebe;
  --ion-color-secondary-tint: #889adb;

  --ion-color-tertiary: #e7907e;
  --ion-color-tertiary-rgb: 231, 144, 126;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #cb7f6f;
  --ion-color-tertiary-tint: #e99b8b;

  --ion-color-success: #6cae75;
  --ion-color-warning: #e2b15f;
  --ion-color-danger: #d96767;
  --ion-color-medium: #6a7b83;
  --ion-color-light: #f7faf8;
  --ion-background-color: #f7faf8;
  --ion-text-color: #1f2f3a;
}
